# Input variables and rename this file to [terraform.tfvars]
project                = ""
location               = ""
gcr_region             = ""
app_engine_location    = ""
repository_name        = ""
cloud_run_service_name = ""
tws_userid             = ""
tws_password           = ""
tws_trading_mode       = ""
